.navItems {
  padding: 12px 25px;
  font-weight: 600;

  background-color: none;
}
.active {
  /* background-color: gray; */
  box-shadow: 2px 1px 2px #ddd;
  color: black;
}
.active:hover {
  background-color: none;
}
.menu
  :where(
    li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)
  ):active,
.menu
  :where(
    li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)
  ):where(.active),
.menu
  :where(
    li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)
  ):active,
.menu
  :where(
    li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)
  ):where(.active) {
  background-color: #fbf3f3;
}
.auth-btn.active {
  color: white;
  background-color: #4438cab1;
}

.selected {
  border-radius: 10px;
  overflow: hidden;
}
